dtkit-tusar-model/src/main/resources/com/thalesgroup/dtkit/tusar/model/xsd/tusar-1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--
/*******************************************************************************
* Copyright (c) 2010 Thales Corporate Services SAS                             *
* Author : Gregory Boissinot, Guillaume Tanier                                 *
*                                                                              *
* Permission is hereby granted, free of charge, to any person obtaining a copy *
* of this software and associated documentation files (the "Software"), to deal*
* in the Software without restriction, including without limitation the rights *
* to use, copy, modify, merge, publish, distribute, sublicense, and/or sell    *
* copies of the Software, and to permit persons to whom the Software is        *
* furnished to do so, subject to the following conditions:                     *
*                                                                              *
* The above copyright notice and this permission notice shall be included in   *
* all copies or substantial portions of the Software.                          *
*                                                                              *
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR   *
* IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,     *
* FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE  *
* AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER       *
* LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,*
* OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN    *
* THE SOFTWARE.                                                                *
*******************************************************************************/
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">

    <xs:element name="tusar">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tests" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="testsuite" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="properties" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="property" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="name" type="xs:string" use="required"/>
                                                            <xs:attribute name="value" type="xs:string" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="testcase" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="error" minOccurs="0" maxOccurs="1">
                                                        <xs:complexType mixed="true">
                                                            <xs:attribute name="type" type="xs:string" use="optional"/>
                                                            <xs:attribute name="message" type="xs:string"
                                                                          use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="failure" minOccurs="0" maxOccurs="1">
                                                        <xs:complexType mixed="true">
                                                            <xs:attribute name="type" type="xs:string" use="optional"/>
                                                            <xs:attribute name="message" type="xs:string"
                                                                          use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="system-err" minOccurs="0" maxOccurs="1">
                                                        <xs:complexType mixed="true"/>
                                                    </xs:element>
                                                    <xs:element name="system-out" minOccurs="0" maxOccurs="1">
                                                        <xs:complexType mixed="true"/>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="testname" type="xs:string" use="required"/>
                                                <xs:attribute name="filepath" type="xs:string" use="optional"/>
                                                <xs:attribute name="fulltestname" type="xs:string" use="optional"/>
                                                <xs:attribute name="assertions" type="xs:string" use="optional"/>
                                                <xs:attribute name="time" type="xs:string" use="optional"/>
                                                <xs:attribute name="timestamp" type="xs:string" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string" use="required"/>
                                    <xs:attribute name="tests" type="xs:string" use="required"/>
                                    <xs:attribute name="failures" type="xs:string" use="optional"/>
                                    <xs:attribute name="errors" type="xs:string" use="optional"/>
                                    <xs:attribute name="skipped" type="xs:string" use="optional"/>
                                    <xs:attribute name="time" type="xs:string" use="optional"/>
				                    <xs:attribute name="timestamp" type="xs:string" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="coverage" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="file" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="line" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="number" type="xs:string" use="required"/>
                                                <xs:attribute name="hits" type="xs:string" use="required"/>
                                                <xs:attribute name="type" use="optional">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="stmt"/>
                                                            <xs:enumeration value="method"/>
                                                            <xs:enumeration value="class"/>
                                                            <xs:enumeration value="block"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="coverage" type="xs:string" use="optional"/>
                                    <xs:attribute name="path" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="violations" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="file" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="violation" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="line" type="xs:string" use="required"/>
                                                <xs:attribute name="message" type="xs:string" use="required"/>
                                                <xs:attribute name="key" type="xs:string" use="required"/>
                                                <xs:attribute name="column" type="xs:string" use="optional"/>
                                                <xs:attribute name="severity" type="xs:string" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="path" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>

                    </xs:complexType>
                </xs:element>

                <xs:element name="measures" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="resource" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="measure" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="key" use="required">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="LINES"/>
                                                            <xs:enumeration value="NCLOC"/>
                                                            <xs:enumeration value="INSTRUCTIONS"/>
                                                            <xs:enumeration value="COMPLEXITY"/>
                                                            <xs:enumeration value="LI"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="value" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="type" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="PROJECT"/>
                                                <xs:enumeration value="DIRECTORY"/>
                                                <xs:enumeration value="FILE"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="value" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>


            <xs:attribute name="version" type="xs:string" use="required"/>
            <xs:attribute name="xmlns_xsi" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
